table {
	font-family: Arial, sans-serif;
	color: #2f4f4f;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 2px;
}

tr {
	border: 1px solid #d6e5dd;
	text-align: center;
	background-color: #ffffff; 
}

th {
	border: 1px solid #d6e5dd;
	text-align: center;
	color: #ffffff;
	background-color: #5f8f7a;
}

body {
	background-color: #edf4f1;
}

/* Container styling */
.navbar {
  background-color: #5f8f7a;
  padding: 10px;
}

.nav-link{
    font-size: 100%;
    background-color: #7ba892;
    border-radius: 8px; 
    text-wrap: nowrap; 
}

/* Remove default list styling and use Flexbox */
.nav-item {
    font-size: 18px;
    margin: 4px;
    padding: 4px;
    /*display: flex;*/
    justify-content: center;
}

/* Style the individual links */
.nav-item a {
    color: white;
    text-decoration: none;
    padding: 12px 18px;
    display: block;
}

/* Change color on hover */
.nav-item a:hover {
  background-color: #4c7464;
  border-radius: 8px;
}

.btn {
    background-color: #6ca88b;
    border: none;
    color: white;
    padding: 14px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 4px;
    cursor: pointer;
}

h1 {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: #3d6b5f;
    text-align: center;
}

p{
    font-family: Arial, sans-serif;
    color: #555555;
    text-align: center;
}